body{
    font-family: sans-serif;
    background-color: rgb(240, 147, 147);
}
h1{
    color: aqua;
}
h2{
    text-align: center;
    color: yellow;
}
n3{
    color: blue;
    background-color: brown;
}